<h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>

<div class="hero-carousel" id="carousel-photo" data-turbolinks='false'>
    <div class="item-1">
        <!-- Slide Content -->
        <h1>Page #1</h1>
    </div>
    <div class="item-2">
        <!-- Slide Content -->
        <h1>Page #2</h1>
    </div>
    <div class="item-3">
        <!-- Slide Content -->
        <h1>Page #3</h1>
    </div>
</div>

<script>
    document.addEventListener("turbolinks:load", function() {
            BulmaCarousel.attach('#carousel-photo', {
            slidesToScroll: 1,
            slidesToShow: 1
        })
    })
</script>